
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Empresas est&#xE3;o procurando por candidatos para inscri&#xE7;&#xE3;o em vagas de emprego dispon&#xED;veis em todo o Brasil.  Veja as oportunidades no mercado de trabalho.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FX VAGAS</title>

    <!-- Verificacao Google -->
    <meta name="google-site-verification" content="-UF2SRzK7D2i4VngmRLt4CidY11gz2b8fsVMRLYIDIQ" />

    <!-- fb meta-->
    <meta property="og:title" content="Vagas de emprego gr&#xE1;tis, encontre seu novo trabalho hoje!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.trabalhabrasil.com.br/">
    <meta property="og:image" content="#">
    <meta property="og:description" content="Empresas est&#xE3;o procurando por candidatos para inscri&#xE7;&#xE3;o em vagas de emprego dispon&#xED;veis em todo o Brasil.  Veja as oportunidades no mercado de trabalho.">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="#">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="#">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="#">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

        <link rel="canonical" href="https://www.trabalhabrasil.com.br/" hreflang="pt-br">
        <link rel="amphtml" href="https://www.trabalhabrasil.com.br/amp" hreflang="pt-br">

    <link rel="stylesheet" href="https://www.trabalhabrasil.com.br/css/lib/iconsBne.css?v=anS-PKVD_LtNS2DVjoUJVopWJI51vMtS9fMGQ_3DOOI" />
    

    
        <link rel="preload" href="https://www.trabalhabrasil.com.br/lib/bootstrap/css/purge/bootstrap.min.css?v=mIWe0VJ79wM6_5I31Fx_1NeIY34WlJwaLSo-gpYXClU" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://www.trabalhabrasil.com.br/lib/bootstrap/css/purge/bootstrap.min.css?v=mIWe0VJ79wM6_5I31Fx_1NeIY34WlJwaLSo-gpYXClU"></noscript>
        <link rel="preload" href="https://www.trabalhabrasil.com.br/lib/toastr/css/toastr.min.css?v=T8suW_o6_v6fwbm3KT7z4UaaJyrzsFZM7r8P0PdwuV0" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://www.trabalhabrasil.com.br/lib/toastr/css/toastr.min.css?v=T8suW_o6_v6fwbm3KT7z4UaaJyrzsFZM7r8P0PdwuV0"></noscript>
        <link rel="preload" href="https://www.trabalhabrasil.com.br/dist/css/grumft.min.css?v=C5uHY3kzmMZgCUqVmTGqRLp2UPWCNFMZojzWtFG1qtk" as="style" onload="this.onload=null;this.rel='stylesheet'" media="screen">
        <noscript><link rel="stylesheet" type="text/css" href="https://www.trabalhabrasil.com.br/dist/css/grumft.min.css?v=C5uHY3kzmMZgCUqVmTGqRLp2UPWCNFMZojzWtFG1qtk" media="screen"></noscript>
        <link rel="preload" href="https://www.trabalhabrasil.com.br/dist/css/main.min.css?v=ZQ4tmducAhppuL3r9Y7xcCLIzVXun3QFz7H9dh0-2QM" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://www.trabalhabrasil.com.br/dist/css/main.min.css?v=ZQ4tmducAhppuL3r9Y7xcCLIzVXun3QFz7H9dh0-2QM"></noscript>
    

    <link rel="preload" href="https://www.trabalhabrasil.com.br/lib/fonts/roboto/roboto.min.css?v=jLVU4IMNfr6ohNv76IFutAG3ZORIccFKAjy1ry_4D24" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://www.trabalhabrasil.com.br/lib/fonts/roboto/roboto.min.css?v=jLVU4IMNfr6ohNv76IFutAG3ZORIccFKAjy1ry_4D24"></noscript>

    <link rel="preload" href="https://www.trabalhabrasil.com.br/lib/fonts/poppins/poppins.min.css?v=C0Cz18awwjaJkzEGVF6kD4aQETkoMv-YW6LfnvHq69A" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://www.trabalhabrasil.com.br/lib/fonts/poppins/poppins.min.css?v=C0Cz18awwjaJkzEGVF6kD4aQETkoMv-YW6LfnvHq69A"></noscript>

    <link rel="preload" href="https://www.trabalhabrasil.com.br/lib/fonts/noka/noka.min.css?v=be80WJfBceK2gy9zMiWhzn3c2YSSocmRLM0Na6ZmXU8" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://www.trabalhabrasil.com.br/lib/fonts/noka/noka.min.css?v=be80WJfBceK2gy9zMiWhzn3c2YSSocmRLM0Na6ZmXU8"></noscript>

    <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material&#x2B;Icons" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material&#x2B;Icons"></noscript>

    <script src="https://www.trabalhabrasil.com.br/lib/jquery/jquery.custom.min.js?v=7oOFCHG3pc3tFeTCXuLIjEwlaxujAKHJtdSrFDP7nh0" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8="></script>

    <!-- Scripts Google Tag Manager -->
    <link rel="preconnect" href="https://www.googletagmanager.com">

    <!-- Script GTM otimizado -->
    <script>
        // Cria o dataLayer imediatamente para não perder eventos iniciais
        window.dataLayer = window.dataLayer || [];

        function loadGTM() {
            (function (w, d, s, l, i) {
                w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s);
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-WTCLB9T');
        }

        // Carrega o GTM quando o DOM estiver pronto, sem esperar recursos
        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', loadGTM);
        } else {
            loadGTM();
        }
    </script>



    
    

    
        <link rel="stylesheet" type="text/css" href="https://www.trabalhabrasil.com.br/dist/css/home/home.min.css?v=7t2QYHi7kP6VIoWnEjar2PIrSwcETTgVpHlWq2mzDlw" media="screen" />
    

    <!-- - - - - - - -  Search Box -->
    <script type="application/ld+json" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8=">
        {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Trabalha Brasil",
        "alternateName": "Trabalha Brasil: busca de vagas - grátis para candidatos e empresas. Vagas, Trabalhos, Empregos, Vaga de Emprego, Vaga, Trabalho, Emprego, Vagas de Empregos, Vaga de Empregos, Currículos",
        "url": "https://www.trabalhabrasil.com.br",
        "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.trabalhabrasil.com.br/busca?q={search_term_string}",
        "query-input": "required name=search_term_string"
        }
        }
    </script>

    
</head>
<body>
    
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FA5QM1h3zBCgXK3o-HlVNfEDpxMglE-gbrQTZz56ICmttZFfyvJ-j36zThe7-irmBf11N8pXcCdMO0-8vSa6p69w1sVopvBj5S9fYAXAf5bG8ijcO9pJgpklHK4ntTeW9735J9Q6M8h9uU2Pw_L9n4" />
    <!-- Google Tag Manager (noscript) -->
   <noscript defer asp-add-nonce="true">
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTCLB9T"
                height="0" width="0" style="display:none;visibility:hidden" asp-add-nonce="true"></iframe>
    </noscript>

    <!-- Tratamento para Mostrar ou Não o Header -->
        

<header class="position-fixed top-0 start-0 w-100 bg-white">
    <div class="container-xxl h-100 d-flex justify-content-between align-items-center gap-5">
                <a href="#">
                    <h1>FX VAGAS</h1>
                </a>
            <nav class="d-none d-lg-flex justify-content-between w-100 h-100">

            </nav>
    </div>
</header>


    



<main>




    <section class="section-7">
        <div class="section-7__content">
            <h2>Novas vagas de emprego</h2>

            <div class="carousel-buttons d-flex">
                <button id="prevBtn" class="carousel-control-prev carousel-prev" type="button" aria-label="Vaga amterior">
                    <!-- Botão anterior -->
                    <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0309 0.46912C11.1007 0.538789 11.1561 0.621552 11.1939 0.71267C11.2318 0.803787 11.2512 0.901469 11.2512 1.00012C11.2512 1.09877 11.2318 1.19645 11.1939 1.28757C11.1561 1.37869 11.1007 1.46145 11.0309 1.53112L2.56038 10.0001L11.0309 18.4691C11.1717 18.6099 11.2508 18.801 11.2508 19.0001C11.2508 19.1993 11.1717 19.3903 11.0309 19.5311C10.89 19.6719 10.699 19.7511 10.4999 19.7511C10.3007 19.7511 10.1097 19.6719 9.96888 19.5311L0.968875 10.5311C0.899031 10.4615 0.843616 10.3787 0.805806 10.2876C0.767997 10.1965 0.748535 10.0988 0.748535 10.0001C0.748535 9.90147 0.767997 9.80379 0.805806 9.71267C0.843616 9.62155 0.899031 9.53879 0.968875 9.46912L9.96888 0.46912C10.0385 0.399275 10.1213 0.343861 10.2124 0.306051C10.3035 0.268242 10.4012 0.248779 10.4999 0.248779C10.5985 0.248779 10.6962 0.268242 10.7873 0.306051C10.8784 0.343861 10.9612 0.399275 11.0309 0.46912Z" fill="#101820" />
                    </svg>
                </button>
                <button id="nextBtn" class="carousel-control-next carousel-next" type="button" aria-label="Próxima vaga">
                    <!-- Botão próximo -->
                    <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.968875 0.46912C1.03854 0.399275 1.12131 0.343861 1.21243 0.306051C1.30354 0.268242 1.40122 0.248779 1.49988 0.248779C1.59853 0.248779 1.69621 0.268242 1.78733 0.306051C1.87844 0.343861 1.96121 0.399275 2.03088 0.46912L11.0309 9.46912C11.1007 9.53879 11.1561 9.62155 11.1939 9.71267C11.2318 9.80379 11.2512 9.90147 11.2512 10.0001C11.2512 10.0988 11.2318 10.1965 11.1939 10.2876C11.1561 10.3787 11.1007 10.4615 11.0309 10.5311L2.03088 19.5311C1.89005 19.6719 1.69904 19.7511 1.49988 19.7511C1.30071 19.7511 1.10971 19.6719 0.968875 19.5311C0.828045 19.3903 0.748928 19.1993 0.748928 19.0001C0.748928 18.801 0.828045 18.6099 0.968875 18.4691L9.43938 10.0001L0.968875 1.53112C0.899031 1.46145 0.843616 1.37869 0.805806 1.28757C0.767997 1.19645 0.748535 1.09877 0.748535 1.00012C0.748535 0.901469 0.767997 0.803787 0.805806 0.71267C0.843616 0.621552 0.899031 0.538789 0.968875 0.46912Z" fill="#101820" />
                    </svg>
                </button>
            </div>
            <div class="carousel-container">
                <div class="carousel-wrapper">
                    <div class="carousel-items" data-container-lista="vagas">
                        <ul class="item" data-lista="vagas">

                                <li class="itemList trackQualquerVagaEmprego">
                                    <a href="{{ url_for('login')  }}" class="cardJob trackQualquerVagaEmprego" title="Vaga de emprego para Recrutador na empresa Avive Gest&#xE3;o De Servi&#xE7;os M&#xE9;dicos em Londrina / PR">
                                        <div class="cardContent trackQualquerVagaEmprego">
                                            <ul class="cardBadages trackQualquerVagaEmprego">
                                                    <li>
                                                        <span class="vagaDestacada badge trackQualquerVagaEmprego">
                                                            <picture>
                                                                <source srcset="https://www.trabalhabrasil.com.br/images/home/icons/star-icon.webp" alt="Vaga destacada">
                                                                <img fetchpriority="low" src="https://www.trabalhabrasil.com.br/images/home/icons/star-icon.png" alt="Aumente suas chances de ser chamado para uma entrevista" width="16" height="17" loading="lazy" />
                                                            </picture>
                                                            Destacada
                                                        </span>
                                                    </li>
                                            </ul>
                                            <h3 class="cardTitle trackQualquerVagaEmprego">Vaga de Jovem Aprendiz</h3>
                                            <p class="companyName trackQualquerVagaEmprego">
                                                <picture>
                                                    <source srcset="https://www.trabalhabrasil.com.br/images/home/icons/company-icon.webp" alt="Nome da empresa">
                                                    <img fetchpriority="low" src="https://www.trabalhabrasil.com.br/images/home/icons/company-icon.png" alt="Nome da empresa" width="23" height="24" loading="lazy" class="trackQualquerVagaEmprego" />
                                                </picture>
                                                Nome da empresa dispon&#xED;vel para cadastrados.
                                            </p>
                                            <p class="vacancyDetails trackQualquerVagaEmprego">
                                                    <strong class="trackQualquerVagaEmprego">R$ 900,00 por mês</strong>
                                            </p>
                                            <p class="vacancyDesc trackQualquerVagaEmprego">Será um trabalho como auxiliar de escritório administrativo, preenchimento de planilhas entre outras atividades...</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="itemList trackQualquerVagaEmprego">
                                    <a href="{{ url_for('login')  }}" class="cardJob trackQualquerVagaEmprego" title="Vaga de emprego para Vendedor Externo na empresa Interefika em Campo Grande / MS">
                                        <div class="cardContent trackQualquerVagaEmprego">
                                            <ul class="cardBadages trackQualquerVagaEmprego">
                                                    <li>
                                                        <span class="vagaDestacada badge trackQualquerVagaEmprego">
                                                            <picture>
                                                                <source srcset="https://www.trabalhabrasil.com.br/images/home/icons/star-icon.webp" alt="Vaga destacada">
                                                                <img fetchpriority="low" src="https://www.trabalhabrasil.com.br/images/home/icons/star-icon.png" alt="Aumente suas chances de ser chamado para uma entrevista" width="16" height="17" loading="lazy" />
                                                            </picture>
                                                            Destacada
                                                        </span>
                                                    </li>
                                            </ul>
                                            <h3 class="cardTitle trackQualquerVagaEmprego">Vaga de Recepcionista de eventos</h3>
                                            <p class="companyName trackQualquerVagaEmprego">
                                                <picture>
                                                    <source srcset="https://www.trabalhabrasil.com.br/images/home/icons/company-icon.webp" alt="Nome da empresa">
                                                    <img fetchpriority="low" src="https://www.trabalhabrasil.com.br/images/home/icons/company-icon.png" alt="Nome da empresa" width="23" height="24" loading="lazy" class="trackQualquerVagaEmprego" />
                                                </picture>
                                                Nome da empresa dispon&#xED;vel para cadastrados.
                                            </p>
                                            <p class="vacancyDetails trackQualquerVagaEmprego">
                                                    <strong class="trackQualquerVagaEmprego">R$ 450,00 por diária</strong>
                                            </p>
                                            <p class="vacancyDesc trackQualquerVagaEmprego">Atuar como recepcionista de eventos, realizando credenciamento e orientação aos convidados sobre a programação do evento...</p>
                                        </div>
                                    </a>
                                </li>
 
                        </ul>
                    </div>
                </div>
            </div>
            <a class="btnMoreVacancys trackVerTodasVagas" href="{{ url_for('login')  }}">Ver outras vagas</a>
        </div>
    </section>


</main>






        

<footer class="footerLight">
    <div class="footer container-xxl">
        <div class="footerInfo mx-2 mx-md-5 mx-lg-0">
            <div class="row">
                <section class="col-12 col-xl">
                    <a href="#" class="logo" aria-label="Página principal Trabalha Brasil vagas de emprego">
                        <h1>FX VAGAS</h1>
                    </a>
                </section>
                <section class="sectionPartners col-12 col-md-6 col-lg-3 col-xl">
                    <h2 id="parceiros">Parceiros</h2>
                    <nav aria-labelledby="parceiros">
                        <ul class="m-0 p-0">
                            <li><a href="https://www.bne.com.br/" target="_blank" rel="noopener">Banco Nacional de Empregos</a></li>
                            <li><a href="https://www.redtrabaje.com/" target="_blank" rel="noopener">RedTrabaje</a></li>
                            <li><a href="https://lugarh.com.br/" target="_blank" rel="noopener">Lugarh</a></li>
                            <li><a class="linkTrackeamentoUempFooter" href="https://cursosgratis.uemp.com.br/" data-bs-toggle="modal" data-bs-target="#modalUemp">UEMP</a></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
        <div class="footerCopy mx-2 mx-md-5 mx-lg-0">
            <section class="d-flex flex-wrap flex-md-nowrap justify-content-between align-items-center gap-5">
                <p class="m-0">Copyright © 2024 FX VAGAS. Todos os direitos reservados <a href="/politica-privacidade" class="text-decoration-underline">Política de Privacidade</a></p>

            </section>
        </div>
    </div>
</footer>
    <div class="progress_container" id="progressContainer" style="background-color: #000000b0 !important">
        <div class="loader__content justify-content-center align-items-center flex-column">
            <div class="loader__global"></div>
            <div style="color: #fff; margin-top: 20px; font-weight: bold;" id="progressText">Carregando, aguarde por favor...</div>
        </div>
    </div>

    <div class="cookies-container">
    <div class="cookies-content">
        <div class="cookies__info">
            <div class="cookies-title">Nós respeitamos a sua privacidade</div>
            <div class="cookies-description">
                Para otimizar sua experiência durante a navegação, fazemos uso de cookies.
                Ao continuar no site, consideramos que você está de acordo com nossa
                <a class="lgpd-link" id="linkPaginaCookies" href="javascript:redirectPoliticaCookies();">Política de Privacidade.</a>
            </div>
        </div>
        <div class="cookies__close" id="closeModalCookies">
            PROSSEGUIR
        </div>
    </div>
</div>

    <div class="modal" id="modalUemp" tabindex="-1" aria-labelledby="modalUemp" aria-hidden="true">
    <div class="modal-dialog modalUemp">
        <div class="modal-header">
            <picture>
                <source srcset="./images/modals/modal-uemp/mobile-modal-uemp.png" media="(max-width: 768px)">
                <source srcset="./images/modals/modal-uemp/tablet-modal-uemp.png" media="(max-width: 1024px)">
                <img src="./images/modals/modal-uemp/desktop-modal-uemp.png" alt="Parceria UEMP + TBR" width="540" height="200" loading="lazy">
            </picture>
        </div>
        <div class="modal-content">
            <h2>Conheça a parceria entre o <strong>TBR</strong> e a <strong>UEMP</strong> e se qualifique gratuitamente!</h2>

            <p>O FX VAGAS e a UEMP (Universidade do Emprego) se uniram para oferecer cursos online gratuitos, de alta qualidade, ajudando profissionais a se destacar no mercado de trabalho.</p>

            <details>
                <summary>
                    <h3>Como funciona?</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#015DE3" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                    </svg>
                </summary>
                <ol>
                    <li>
                        Escolha um curso no catálogo da UEMP e aprenda no seu tempo.
                    </li>
                    <li>
                        Conclua o curso e adicione ao seu currículo para que recrutadores vejam suas novas qualificações.
                    </li>
                </ol>
            </details>
            <details>
                <summary>
                    <h3>Por que aproveitar essa vantagem?</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#015DE3" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                    </svg>
                </summary>
                <div>
                    <p>Com essa parceria, você se qualifica sem custo e amplia suas chances de ser notado pelos recrutadores. Potencialize seu perfil agora!</p>
                </div>
            </details>
            <a class="btnTrackeamentoComecarAgora" href="https://cursosgratis.uemp.com.br/" target="_blank">Começar agora</a>
        </div>
    </div>
</div>

    
    <div id="videoHome" class="modal" tabindex="-1" aria-labelledby="videoHome" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modalVideoHome">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div id="videoContainer"></div>
            </div>
        </div>
    </div>
</div>



    
<script type="module" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8=">
    // Função para ler um item específico de um cookie
    function readCookieItem(cookieName, itemName) {
        var nameEQ = cookieName + "=";
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1, cookie.length);
            }
            if (cookie.indexOf(nameEQ) == 0) {
                var cookieValue = decodeURIComponent(cookie.substring(nameEQ.length, cookie.length));
                var items = cookieValue.split('&');
                for (var j = 0; j < items.length; j++) {
                    var keyValue = items[j].split('=');
                    if (keyValue[0] === itemName) {
                        return keyValue[1];
                    }
                }
            }
        }
        return null;
    }

    // Verificações de página e configuração do Crisp

    const CRISP_WEBSITE_ID = "28a595ae-e91b-4688-973e-85526d65e8eb";  // PRD
    let userNameCrisp = readCookieItem("SINE_INFO", "userName");
    let userEmailCrisp = readCookieItem("SINE_INFO", "userEmail");

    var isUserLoged = window.localStorage.getItem("logged");
    if (window.location.pathname.includes('administrar-vagas') ||
        window.location.pathname.includes("/Payment/ChoosePlan") ||
        window.location.pathname.includes("/plano/motivo-cancelamento") ||
        window.location.pathname.includes("/editar-curriculo") ||
        (window.location.pathname.includes('fale-conosco') && isUserLoged === 'true')) {

        window.$crisp = [];
        window.CRISP_WEBSITE_ID = CRISP_WEBSITE_ID;
        (function () {
            let s = document.createElement("script");
            s.src = "https://client.crisp.chat/l.js";
            s.async = 1;
            document.getElementsByTagName("head")[0].appendChild(s);
        })();
        if ((userNameCrisp && userNameCrisp != undefined) && (userEmailCrisp && userEmailCrisp != undefined)) {
            $crisp.push(["set", "user:email", [userEmailCrisp]]);
            $crisp.push(["set", "user:nickname", [userNameCrisp]]);
        }
        //$crisp.push(["set", "session:segments", [["banana"]]])
        $crisp.push(["on", "message:received", function (e) {
            if (e.type === "picker") {
                if (e.content.id === "inativar-cv-btn") {
                    for (var i in e.content.choices) {
                        if (e.content.choices[i].selected) {
                            $('#mdlInactivation').show();
                        }
                    }
                }
                else if (e.content.id === "dta-nasc-incorreta") {
                    for (var i in e.content.choices) {
                        if (e.content.choices[i].selected) {
                            $('#txtCPFToRecoverDate-error').hide();
                            $("#mdlToRecoverBirthDate .alert-danger").hide();
                            $("#mdlToRecoverBirthDate .alert-success").hide();
                            $('#mdlToRecoverBirthDate').show();
                        }
                    }
                }
                // opcao do alerta de vagas
                else if (e.content.id === "cancelar-recebimento-btn") {
                    for (var i in e.content.choices) {
                        if (e.content.choices[i].selected) {
                            if (!openModalLogin('/alerta-de-vagas', 'Preencha os dados para acessar os seus ALERTAS DE VAGAS!', null)) {
                                $('#aviso_denuncia').hide();
                                $('#aviso_dados').show();
                                return false;
                            }
                            else
                                window.location.href = '/privacidade';
                        }
                    }
                }
                else if (e.content.id === "atualizar-cv-botao") {
                    for (var i in e.content.choices) {
                        if (e.content.choices[i].selected) {
                            window.location.href = '/cadastrar-curriculo';
                        }
                    }
                }
                else if (e.content.id === "cadastrar-vaga") {
                    for (var i in e.content.choices) {
                        if (e.content.choices[i].selected) {
                            window.location.href = '/anunciar-vagas-empregos';
                        }
                    }
                }
                else if (e.content.id === "comprar-plano") {
                    for (var i in e.content.choices) {
                        if (e.content.choices[i].selected) {
                            window.location.href = '/escolha-tipo-anuncio';
                        }
                    }
                }
                else if (e.content.id === "clique-aqui") {
                    for (var i in e.content.choices) {
                        if (e.content.choices[i].selected) {
                            window.location.href = '/vagas-empregos';
                        }
                    }
                }
                else if (e.content.id === "destacar-vaga") {
                    for (var i in e.content.choices) {
                        if (e.content.choices[i].selected) {
                            window.location.href = '/destaque-vaga';
                        }
                    }
                }
                else if (e.content.id === "ri") {
                    for (var i in e.content.choices) {
                        if (e.content.choices[i].selected) {
                            window.location.href = '/administrar-vagas'
                        }
                    }
                }
            }
        }])
    }
</script>


    

    
        <script defer src="/lib/popper/popper.custom.min.js?v=dx1hPL7OYhAgBcEfq-tG8HRB1awmcHqIH2gvw1OO2vE" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8="></script>
        <script defer src="/lib/bootstrap/js/bootstap.custom.min.js?v=bEVeJXfMW52y9S6WPn1WfQGW5_pbXb99rcahl1J8JjQ" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8="></script>
        <script defer src="/lib/jquery-ui/jquery-ui.custom.min.js?v=593XWK8Inh8tzgMBlhODs07O6EjE0rkHXuM3DpgrJ9U" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8="></script>
        <script defer src="/dist/js/shared/header/header.min.js?v=lDlOlG7mjoRWOO-RbMfgxfyhPHCfgUn1IPBhbZ8YqnI" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8="></script>
        <script defer src="/dist/js/dependencies.min.js?v=ls6U7Q5LPxWGCqrS3cwbWhLMaLkPmGJLoJv1Oj9kkfA" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8="></script>
    

    


    <script defer type="text/javascript" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8=">
        const API_SLBR_URL = "//app.salariobr.com/api";
        const API_AVALIACAOEMPRESAS_URL = "https://api-avaliacoesempresas.bne.com.br/api/V1";
        const SITE_URL = "https://www.trabalhabrasil.com.br";
        const RECRUITMENT_ACTIVATED = "True";
        const RECRUITMENT_HOST_API = "https://api-ri.trabalhabrasil.com.br";
    </script>

<script defer nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8=">
    const CadastroDesatualizado = null;
    const currentRoute = "Home";

    // Intercepta todos os pedidos AJAX
    $(document).ready(function () {
        $(document).ajaxSend(function (event, jqxhr, settings) {
            if (settings.type === 'POST' || settings.type === 'PUT' || settings.type === 'DELETE') {
                var token = $('input:hidden[name="__RequestVerificationToken"]').val();
                if (token) {
                    jqxhr.setRequestHeader('X-XSRF-TBR', token);
                }
            }
        });
    });

    // Intercepta todas as chamadas fetch
    const { fetch: originalFetch } = window;

    window.fetch = async (...args) => {
        let [resource, config] = args;
        if (config == null) {
            return await originalFetch(resource);
        }
        if (config.headers != null) {
            if (typeof config.headers.append === "function") {
                config.headers.append('X-XSRF-TBR', $('input:hidden[name="__RequestVerificationToken"]').val());
            } else {
                config.headers['X-XSRF-TBR'] = $('input:hidden[name="__RequestVerificationToken"]').val();
            }
        }
        else {
            config.headers = {
                'X-XSRF-TBR': $('input:hidden[name="__RequestVerificationToken"]').val()
            };
        }
        return await originalFetch(resource, config);
    };
</script>


    <script defer nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8=">
        localStorage.setItem("idUser", "0")
        let userId = "0";
        localStorage.setItem('IdTipoPerfil', "False");
        localStorage.setItem('logged', true);
    </script>


    
    <script nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8=">
        const userIsBlocked = null;
    </script>

    
    
        <script defer src="/dist/js/autocomplete.min.js?v=gfxYa6OM9nuG-OL6lg2dVyhzigH4MvwfTqfGNSyjWfI" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8="></script>
        <script defer src="/dist/js/home/home.min.js?v=w75ZgrTnuL0qCvH2eoYQnojYKtUqCxTLePlwhuf0Ivw" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8="></script>
        <script defer src="/dist/js/home/SeachJobs.min.js?v=KyiZNy-GpRHlddRcVVx95YhhYFp_HHc05OtT3Ysisfk" nonce="pdquDuNULhMQJ8e526ks&#x2B;6873AGz53N50MjQyjXpIr8="></script>
    

    
    <!-- Publicidade Monetizze -->
    <script>
        setTimeout(function () {
            var scriptMonetizze = document.createElement('script');
            scriptMonetizze.src = "//c.pubguru.net/pg.trabalhabrasil.com.br.ros.js";
            scriptMonetizze.setAttribute('data-cfasync', 'false');
            document.body.appendChild(scriptMonetizze);
        }, 4000);
    </script>

    <!-- Publicidade Grumft -->
    <script>
        setTimeout(function () {
            var scriptGrumft = document.createElement('script');
            scriptGrumft.src = "//api.grumft.com/special_script/28866/28866_GFT_SS.js";
            scriptGrumft.async = true;
            document.body.appendChild(scriptGrumft);
        }, 4000);
    </script>

</body>
</html>
